.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--marduk-color-gray-800, #0f0a1a);
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
}
