PORT=3001
NODE_ENV=development

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=XXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXX
AWS_S3_THUMBNAILS_BUCKET=amala-thumbnails

DYNAMODB_TABLE_NAME=amala-data

COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
